* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.completed-tab {
    background-color: blue;
}
.mytask {
    background-color: rgb(196, 255, 230);
    /* display: flex;
    flex-direction: column;
    gap: 10vh; */
}

/* Task Form */
.form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;  
    padding: 30px;
    margin: 0px;
    gap: 1px;
    display: flex;
    flex-direction: column;
}

.form-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    gap: 10px;
}

.form-date, .form-priority {
 align-items: center;
}
.form-description{
     flex-direction: column;
}

#taskName {
    font-size: 1.3rem;
    height: 7vh;
}

.form-content select,
#dueDate {
    padding: 5px;
    font-size: 14px;           
}

.form-content textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
    border: 1px solid #D6D9DC;
    border-radius: 3px;
  
    min-height: 50px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  }

  .form-buttons{
    margin-top: 10px;
  }

  .newTask,
  .cancel {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .newTask:hover,
  .cancel:hover {
    background-color: #76AEED;
  }
  
  .newTask:active,
  .cancel:active {
    background-color: #407FC7;
  }

  /* Task list */
  .task-list { /* the whole task list*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    border: 2px solid blue;
    margin-top: 20px;
    /* width: 50%; */
  }

  .task-items{ /* name & description is in here*/
    margin-right: auto;
    /* border: 1px solid black; */
    padding: 20px;
    width: 70%;
  }

  img{
    width: auto;
    height: 6vh;
    cursor: pointer;
}

.task-control { /* where edit and delete btn is at*/
    display: flex;
    gap:10px ;
    padding: 20px;
}

#task-name{
    font-size: 1.4rem;
}

.task-description,
.task-date {
    font-size: 1.1rem;
    padding: 5px;
}